/*
========================================
  HOMEPAGE
========================================
*/

body {
  font: 100%/1.5 system-ui, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em;
  font: 1em system-ui, sans-serif;
  max-width: 1200px;
  margin: auto;
}

header label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
}


footer.legend {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-size: 0.9em;
  margin: 1em auto;
  max-width: 800px;
  color: #444;
}

footer.legend div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

